# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir
zal/build/**/*
/.vs/aaa/FileContentIndex/3c0273ee-4423-4310-97a9-72b35fe59c95.vsidx
/.vs/aaa/FileContentIndex/b8953770-ed0e-4edb-bace-dcc00498fd83.vsidx
/.vs/aaa/FileContentIndex/09dfe176-3482-4d36-8516-80fd8195c571.vsidx
/.vs/aaa/FileContentIndex/ef3f9abe-66e2-4a33-866e-fe95b08b25b1.vsidx
